# https://packaging.python.org/en/latest/guides/writing-pyproject-toml/
[project]
name = "{{project_name}}"
version = "0.1.0.dev0"
requires-python = ">= 3.12"
dependencies = [
  # backend
  "granian[reload]==1.3.1",
  "django==5.0.4",
  "django-authtools==2.0.1",
  "django-allauth==0.63.0",
  "django-environ==0.11.2",
  "django-typer[rich]==1.1.2",
  # frontend
  "django_htmx==1.17.3",
  "django-allauth-ui==0.2.2",
  "django-widget-tweaks==1.5.0",
  "django-template-partials==24.2",
  "django-tailwind-cli==2.11.0",
  "whitenoise==6.6.0",
]
optional-dependencies.dev = [
  "django-browser-reload==1.12.1",
  "django-dbbackup==4.1.0",
  "ruff==0.4.2",
]

# https://docs.astral.sh/ruff/configuration/
# https://docs.astral.sh/ruff/settings/
[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]
line-length = 88
indent-width = 4
target-version = "py312"

# https://docs.astral.sh/ruff/linter/
[tool.ruff.lint]
select = ["E4", "E7", "E9", "F", "I"]
ignore = []
fixable = ["ALL"]
unfixable = []
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# https://docs.astral.sh/ruff/formatter/
[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"