{% load static %}
{% load django_htmx tailwind_cli %}
{% comment %} {% load django_browser_reload %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flango</title>
    {% tailwind_css %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %}
    {% endblock content %}
  </body>
</html>